html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: 1rem;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}
a {
  text-decoration: none;
  color: $primary-color;

  // &:visited {
  //   color: $color-primary-4;
  // }
  // &:hover {
  //   color: $color-primary-4;
  // }
  // &:active {
  //   color: $color-primary-4;
  // }
}
p {
  font-size: 1rem;
}

.img-responsive {
  width: 100%;
  height: auto;
}
.crop-center {
  object-fit: none;
  object-position: center;
  height: 100%;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-center {
  text-align: center;
}
.mr-3 {
  margin-right: 0.3em;
}
.ml-3 {
  margin-left: 0.3em;
}
.mt-3 {
  margin-top: 0.3em;
}
.mb-3 {
  margin-bottom: 0.3em;
}
.MuiFilledInput-inputMarginDense {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

body {
  background-color: $color-light-gray-1;
  color: $color-black;
  text-align: left;

  header {
    background: $primary-color;
    padding: 1em;

    a {
      color: $color-white;
      font-size: 1.1em;
    }
  }

  footer {
    background: $primary-color;
    color: $color-white;
    padding: 2rem;

    a {
      color: $color-white;
    }
    p {
      margin: 0;
      line-height: 1.5;

      &.footer-title {
        margin-bottom: 5px;
        font-size: 1.3em;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
    .footer-social {
      display: flex;
      flex-wrap: nowrap;
      margin-top: 1em;
      a {
        margin-right: 0.5em;
      }
    }
  }

  .error-title {
    color: #fff;
    font-size: 8rem;
    line-height: 1;
    margin-bottom: 1rem;
    font-weight: 400;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
      0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
      0 20px 20px rgba(0, 0, 0, 0.15);
  }

  .error-description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .main-container {
    position: relative;
    margin-top: 104px;
    padding-left: 0;
    padding-right: 0;
    min-height: calc(100vh - 92px - 52px);

    @media (max-width: 600px) {
      margin-top: 84px;
    }

    .main-slider {
      height: 550px;
      // height: calc(100vh - 92px);
      position: relative;
    }

    .main-search-form {
      padding: 2em;
      top: 0;
      background-color: rgba(255, 255, 255, 0.9);
      height: 100%;
      width: 350px;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      button {
        margin-top: 1em;
      }

      form {
        width: 100%;
      }
    }

    .full-search-form {
      padding: 2em;
      width: 100%;
      display: flex;

      .MuiCardContent-root {
        width: inherit;
      }
    }

    .property-data {
      color: white;
      background: $primary-color-gradient-background-2;
      padding: 1em 2em;
      border-radius: 5px;

      .property-data-title {
        margin: 0;
        text-transform: uppercase;
      }
      .property-data-address {
        margin: 0;
      }
      .property-data-price {
        margin: 0;
        font-size: 3em;
      }

      hr {
        border-color: white;
      }
    }

    .main-slider-container {
      display: flex;
      position: absolute;
      top: 0;
      justify-content: space-between;
      align-items: flex-end;
      height: 100%;
      left: 50%;
      right: 50%;
      transform: translate(-50%);
    }

    .main-slider-property-data {
      bottom: 2em;
      right: 2em;
      margin-bottom: 2em;
    }
  }
}
.mr-auto {
  margin-right: auto !important;
}
.ml-auto {
  margin-left: auto !important;
}
.top-menu {
  display: flex;

  li {
    width: auto;
    text-transform: uppercase;
    font-weight: 700;

    &:hover:before {
      width: 100%;
    }

    &::before {
      background: $secondary-color;
    }

    &::before {
      background: $secondary-color;
    }

    &:before {
      width: 0;
      height: 2px;
      bottom: 0;
      left: 0;
      position: absolute;
      content: "";
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

    a.active {
      font-weight: 700;
    }
  }
}

.side-menu {
  background: $primary-color-gradient-background-2;
  height: 100%;

  &--list {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 1.1rem;
    line-height: 3rem;

    a {
      border-bottom: 1px solid $color-light-gray-3;
      color: $color-white;
    }
  }

  &--logo {
    padding: 15px;
    // background-color: #1e8187;
    // margin-bottom: 30px;
  }
}

.properties-container {
  padding: 2em;

  .properties-container-title {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
  }

  .property-card-media {
    height: 200px;
    overflow: hidden;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;

    // img {
    //   -webkit-transition: all 0.3s linear;
    //   -moz-transition: all 0.3s linear;
    //   -o-transition: all 0.3s linear;
    //   -ms-transition: all 0.3s linear;
    //   transition: all 0.3s linear;
    // }

    &:hover {
      -webkit-transform: scale(1.1, 1.1);
      -moz-transform: scale(1.1, 1.1);
      -o-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
    }
  }

  .property-card-content {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 25px 20px;

    .property-card-price {
      position: absolute;
      font-size: 1.5em;
      // font-weight: bold;
      padding: 1em;
      top: -21px;
      margin: 0 auto;
      background: $secondary-color-gradient-background !important;
    }
  }
  .property-card-actions {
    padding: 16px;
    color: $color-dark-gray-1;
    border-top: 1px solid $color-light-gray-3;

    &--detail {
      padding: 16px;
      color: inherit;
      border-top: 0;
    }
  }
}
.about-title {
  // border-left: 3px solid black;
  padding: 10px 30px;
  border-width: 5px;
  border-style: solid;
  border-image: $secondary-color-gradient-background-2 0 0 0 100%;

  h1 {
    text-transform: uppercase;
    font-weight: 700;
    color: $primary-color;
    margin-bottom: 0;
  }
  h3 {
    margin-top: 0;
    color: $color-dark-gray-1;
  }
}
.about-content {
  font-size: 1.2rem;
  font-weight: 100;
  padding: 20px;
  ul {
    li {
      font-size: 1rem;
      line-height: 2;
    }
  }
}
.team-section {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.team-name {
  margin: 0;
  font-weight: 700;
  font-size: 1.4rem;
}
.team-position {
  margin: 0;
  font-size: 1rem;
  color: $color-light-gray-1;
}
.team-container {
  background: $primary-color-gradient-background-2 !important;
  color: white;

  hr {
    background: $secondary-color-gradient-background;
    height: 1px;
    border: 0;
  }
}
