html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: 1rem;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}
a {
  text-decoration: none;
  color: $primary-color;

  // &:visited {
  //   color: $visit;
  // }
  // &:hover {
  //   color: $hover;
  // }
  // &:active {
  //   color: $active;
  // }
}
body {
  background-color: $color-light-gray-1;
  color: $color-black;
  text-align: left;

  header {
    background: $primary-color;
    padding: 1em;

    a {
      color: $color-white;
    }
  }
  footer {
    background: $primary-color;
    color: $color-white;
    padding: 1rem;

    a {
      color: $color-white;
    }
  }
  .main-container {
    margin-top: 92px;
    padding: 1em;
    min-height: calc(100vh - 92px - 52px);
  }
}
.mr-auto {
  margin-right: auto !important;
}
.ml-auto {
  margin-left: auto !important;
}
.top-menu {
  display: flex;

  li {
    width: auto;
    text-transform: uppercase;
    font-weight: 700;

    &:hover:before {
      width: 100%;
    }

    &::before {
      background: $color-gold-1;
    }

    &::before {
      background: $color-gold-1;
    }

    &:before {
      width: 0;
      height: 2px;
      bottom: 0;
      left: 0;
      position: absolute;
      content: "";
      // -webkit-transition: all 0.3s ease;
      // -o-transition: all 0.3s ease;
      // transition: all 0.3s ease;
    }

    a.active {
      // color: $color-gold-1;
      font-weight: 700;
    }
  }
}
