name: CI

on:
  pull_request:
    branches:
      - master
    types: [synchronize, opened, reopened, ready_for_review]

jobs:
  skip-draft:
    name: skip draft
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - name: fail on draft
        if: github.event.pull_request.draft == true
        run: echo "is a draft PR, failing..." && exit 1
      - name: success
        run: echo "is not a draft PR"

  deploy:
    name: Lint & Test & Export
    runs-on: ubuntu-latest
    container: node:lts-alpine
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - name: install dependencies
        run: yarn install --frozen-lockfile
      - name: typecheck
        run: yarn typecheck
      - name: build
        run: yarn build
